<!-- Fragmento para o cabeçalho -->
<div th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <div th:insert="~{fragments/loader :: loader}"></div>
    <div class="container text-center">
        <div class="py-3 mb-4 d-inline-block mx-auto">
            <a href="/"><img src="/logo.png" class="w-50" onclick="showLoader()"></a>
        </div>
        <h3 class="mb-3">COLINAS DA MANTIQUEIRA CORRETORA DE SEGUROS</h3>
        <hr />
    </div>
    <script src="/js/common.js"></script>
</div>
