<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base-form}" th:with="formTitle=${servicoAdquirido.id != null} ? 'Editar Serviço Adquirido' : 'Adicionar Serviço Adquirido'">
<head>
  <title>Serviço Adquirido</title>
</head>
<body>
<section layout:fragment="content">
  <!-- Formulário para criação ou edição de serviço adquirido -->
  <form th:action="${servicoAdquirido.id != null} ? @{/ui/servicos-adquiridos/{id}(id=${servicoAdquirido.id})} : @{/ui/servicos-adquiridos}"
        th:object="${servicoAdquirido}"
        method="post"
        onsubmit="showLoader()">

    <input type="hidden" th:if="${servicoAdquirido.id != null}" name="_method" value="put"/>

    <div class="mb-3">
      <label for="servico" class="form-label">Serviço</label>
      <select th:field="*{servico}" id="servico" class="form-select" required>
        <option value="" disabled selected>Selecione o serviço</option>
        <option th:each="servico : ${servicos}"
                th:value="${servico.id}"
                th:text="${servico.descricao}">
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="cliente" class="form-label">Cliente</label>
      <select th:field="*{cliente}" id="cliente" class="form-select" required>
        <option value="" disabled selected>Selecione o cliente</option>
        <option th:each="cliente : ${clientes}"
                th:value="${cliente.id}"
                th:text="${cliente.nome}">
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="dataAquisicao" class="form-label">Data de Aquisição</label>
      <input type="date" th:field="*{dataAquisicao}" class="form-control" id="dataAquisicao" required>
    </div>

    <div class="mb-3">
      <label for="valorPago" class="form-label">Valor Pago</label>
      <input type="number" step=".01" th:field="*{valorPago}" class="form-control" id="valorPago" placeholder="Digite o valor pago" required>
    </div>

    <button type="submit" class="btn btn-success" th:text="${servicoAdquirido.id != null} ? 'Atualizar' : 'Salvar'"></button>
    <a th:href="@{/ui/servicos-adquiridos}" class="btn btn-secondary" onclick="showLoader()">Cancelar</a>
  </form>
</section>
</body>
</html>
