<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base-form}" th:with="formTitle=${seguradora.id != null} ? 'Editar seguradora' : 'Adicionar seguradora'">
<head>
  <title>Seguradora</title>
</head>
<body>
<section layout:fragment="content">
  <!-- Formulário para criação ou edição de seguradora -->
  <form th:action="${seguradora.id != null} ? @{/ui/seguradoras/{id}(id=${seguradora.id})} : @{/ui/seguradoras}"
        th:object="${seguradora}"
        method="post"
        onsubmit="showLoader()">

    <input type="hidden" th:if="${seguradora.id != null}" name="_method" value="put"/>

    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" th:field="*{nome}" class="form-control" id="nome" placeholder="Digite o nome" required>
    </div>
    <div class="mb-3">
      <label for="cnpj" class="form-label">CNPJ</label>
      <input type="text" th:field="*{cnpj}" class="form-control" id="cnpj" placeholder="Digite o CNPJ" required>
    </div>
    <div class="mb-3">
      <label for="telefone" class="form-label">Telefone</label>
      <input type="text" th:field="*{telefone}" class="form-control" id="telefone" placeholder="Digite o telefone" required>
    </div>
    <div class="mb-3">
      <label for="endereco" class="form-label">Endereço</label>
      <input type="text" th:field="*{endereco}" class="form-control" id="endereco" placeholder="Digite o endereço" required>
    </div>

    <button type="submit" class="btn btn-success" th:text="${seguradora.id != null} ? 'Atualizar' : 'Salvar'"></button>
    <a th:href="@{/ui/seguradoras}" class="btn btn-secondary" onclick="showLoader()">Cancelar</a>
  </form>
</section>
</body>
</html>
