<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base-form}" th:with="formTitle=${servico.id != null} ? 'Editar serviço' : 'Adicionar serviço'">
<head>
  <title>Serviço</title>
</head>
<body>
<section layout:fragment="content">
  <!-- Formulário para criação ou edição de serviço -->
  <form th:action="${servico.id != null} ? @{/ui/servicos/{id}(id=${servico.id})} : @{/ui/servicos}"
        th:object="${servico}"
        method="post"
        onsubmit="showLoader()">

    <input type="hidden" th:if="${servico.id != null}" name="_method" value="put"/>

    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição</label>
      <input type="text" th:field="*{descricao}" class="form-control" id="descricao" placeholder="Digite a descrição" required>
    </div>
    <div class="mb-3">
      <label for="tipoServico" class="form-label">Tipo</label>
      <input type="text" th:field="*{tipoServico}" class="form-control" id="tipoServico" placeholder="Digite o tipo" required>
    </div>
    <div class="mb-3">
      <label for="preco" class="form-label">Preço</label>
      <input type="number" step=".01" th:field="*{preco}" class="form-control" id="preco" placeholder="Digite o preço" required>
    </div>
    <div class="mb-3">
      <label for="seguradora" class="form-label">Seguradora</label>
      <select th:field="*{seguradora}" id="seguradora" class="form-select" required>
        <option value="" disabled selected>Selecione a seguradora</option>
        <option th:each="seguradora : ${seguradoras}"
                th:value="${seguradora.id}"
                th:text="${seguradora.nome}">
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-success" th:text="${servico.id != null} ? 'Atualizar' : 'Salvar'"></button>
    <a th:href="@{/ui/servicos}" class="btn btn-secondary" onclick="showLoader()">Cancelar</a>
  </form>
</section>
</body>
</html>
