<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base-list}">
<head>
    <title>Lista de Seguradoras</title>
    <script src="/js/seguradoras.js"></script>
</head>
<body>
<section layout:fragment="content">
    <!-- Filtro de Seguradoras Inativas -->
    <div th:insert="~{fragments/filtroInativosFragment :: filtroInativos(
            'Exibir seguradoras inativas',
            @{/ui/seguradoras},
            @{/ui/seguradoras/edit}
        )}"></div>

    <!-- Tabela de Seguradoras -->
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th><input type="checkbox" id="select-all"></th> <!-- Selecionar todos -->
            <th>ID</th>
            <th>Nome</th>
            <th>CNPJ</th>
            <th>Telefone</th>
            <th>Endereço</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="seguradora : ${seguradoras}">
            <td>
                <input type="checkbox" name="selectedSeguradoras" th:value="${seguradora.id}" th:disabled="${seguradora.dataExclusao != null}">
            </td> <!-- Checkbox por seguradora -->
            <td th:text="${seguradora.id}"></td>
            <td th:text="${seguradora.nome}"></td>
            <td th:text="${seguradora.cnpj}"></td>
            <td th:text="${seguradora.telefone}"></td>
            <td th:text="${seguradora.endereco}"></td>
            <td>
                <a th:href="@{/ui/seguradoras/edit/{id}(id=${seguradora.id})}" class="btn btn-warning" th:unless="${seguradora.dataExclusao != null}" onclick="showLoader()">
                    Editar
                </a>
                <button type="button" class="btn btn-dark" th:if="${seguradora.dataExclusao != null}" th:onclick="'ativarSeguradora(' + ${seguradora.id} + ')'">Ativar</button>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
