<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base-list}"
      th:with="pageTitle=Servicos">
<head>
    <title>Lista de Servicos</title>
    <script src="/js/servicos.js"></script>
</head>
<body>
<section layout:fragment="content">
    <!-- Filtro de Serviços Inativos -->
    <div th:insert="~{fragments/filtroInativosFragment :: filtroInativos(
            'Exibir servicos inativos',
            @{/ui/servicos},
            @{/ui/servicos/edit}
        )}"></div>

    <!-- Tabela de Serviços -->
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th><input type="checkbox" id="select-all"></th> <!-- Selecionar todos -->
            <th>ID</th>
            <th>Seguradora</th>
            <th>Descricao</th>
            <th>Tipo</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="servico : ${servicos}">
            <td>
                <input type="checkbox" name="selectedServicos" th:value="${servico.id}" th:disabled="${servico.dataExclusao != null}">
            </td> <!-- Checkbox por servico -->
            <td th:text="${servico.id}"></td>
            <td th:text="${servico.seguradora.nome} + ' (cod: ' + ${servico.seguradora.id} + ')'"></td>
            <td th:text="${servico.descricao}"></td>
            <td th:text="${servico.tipoServico}"></td>
            <td th:text="${servico.preco}"></td>
            <td>
                <a th:href="@{/ui/servicos/edit/{id}(id=${servico.id})}" class="btn btn-warning" th:unless="${servico.dataExclusao != null}" onclick="showLoader()">
                    Editar
                </a>
                <button type="button" class="btn btn-dark" th:if="${servico.dataExclusao != null}" th:onclick="'ativarServico(' + ${servico.id} + ')'">Ativar</button>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
