<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base-list}"
      th:with="pageTitle='Serviços adquiridos'">
<head>
    <title>Lista de Serviços Adquiridos</title>
    <script src="/js/servicos-adquiridos.js"></script>
</head>
<body>
<section layout:fragment="content">
    <!-- Filtro de Serviços Adquiridos Inativos -->
    <div th:insert="~{fragments/filtroInativosFragment :: filtroInativos(
            'Exibir servicosAdquiridos inativos',
            @{/ui/servicos-adquiridos},
            @{/ui/servicos-adquiridos/edit}
        )}"></div>

    <!-- Tabela de Serviços Adquiridos -->
    <form action="#" method="post">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th><input type="checkbox" id="select-all"></th> <!-- Selecionar todos -->
                <th>ID</th>
                <th>Cliente</th>
                <th>Serviço</th>
                <th>Data aquisição</th>
                <th>Valor pago</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="servicoAdquirido : ${servicosAdquiridos}">
                <td>
                    <input type="checkbox" name="selectedServicosAdquiridos" th:value="${servicoAdquirido.id}" th:disabled="${servicoAdquirido.dataExclusao != null}">
                </td> <!-- Checkbox por servicoAdquirido -->
                <td th:text="${servicoAdquirido.id}"></td>
                <td th:text="${servicoAdquirido.cliente.nome} + ' (cod: ' + ${servicoAdquirido.cliente.id} + ')'"></td>
                <td th:text="${servicoAdquirido.servico.descricao} + ' (cod: ' + ${servicoAdquirido.servico.id} + ')'"></td>
                <td th:text="${servicoAdquirido.dataAquisicao}"></td>
                <td th:text="${servicoAdquirido.valorPago}"></td>
                <td>
                    <a th:href="@{/ui/servicos-adquiridos/edit/{id}(id=${servicoAdquirido.id})}" class="btn btn-warning" th:unless="${servicoAdquirido.dataExclusao != null}" onclick="showLoader()">
                        Editar
                    </a>
                    <button type="button" class="btn btn-dark" th:if="${servicoAdquirido.dataExclusao != null}" th:onclick="'ativarServico(' + ${servicoAdquirido.id} + ')'">Ativar</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <!-- Botão de Inativar Selecionados -->
    <div class="mt-3">
        <button class="btn btn-danger" type="button" id="inativarSelecionados" style="display:none;">Inativar selecionados</button>
    </div>
</section>
</body>
</html>
