<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base-list}"
      th:with="pageTitle=Clientes">
<head>
    <title>Lista de Clientes</title>
    <script src="/js/clientes.js"></script>
</head>
<body>
<section layout:fragment="content">
    <div th:insert="~{fragments/filtroInativosFragment :: filtroInativos(
            'Exibir clientes inativos',
            @{/ui/clientes},
            @{/ui/clientes/edit}
        )}"></div>

    <!-- Tabela de Clientes -->
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th><input type="checkbox" id="select-all"></th>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Endereço</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cliente : ${clientes}">
            <td><input type="checkbox" name="selectedClientes" th:value="${cliente.id}" th:disabled="${cliente.dataExclusao != null}"></td>
            <td th:text="${cliente.id}"></td>
            <td th:text="${cliente.nome}"></td>
            <td th:text="${cliente.cpf}"></td>
            <td th:text="${cliente.telefone}"></td>
            <td th:text="${cliente.email}"></td>
            <td th:text="${cliente.endereco}"></td>
            <td>
                <a th:href="@{/ui/clientes/edit/{id}(id=${cliente.id})}" class="btn btn-warning" th:unless="${cliente.dataExclusao != null}" onclick="showLoader()">Editar</a>
                <button type="button" class="btn btn-dark" th:if="${cliente.dataExclusao != null}" th:onclick="'ativarCliente(' + ${cliente.id} + ')'">Ativar</button>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
